@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Добавление нового типа работ</title>
</head>
<body>
    <div>
        <h3>Форма добавление типа работ</h3>
        <p>Заполните следующие поля:</p>
        <form method="post">
            <table>
                <tr>
                    <td>Наименование:</td>
                    <td><input type="text" name="Discription" /> </td>
                </tr>
                <tr><td><input type="submit" value="Добавить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>